body {
  background: #333; }
  body h1 {
    color: #ccc; }
  body h1.specific {
    color: #aaa; }

.js, .css {
  display: flex;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow: hidden; }
  .js figure, .css figure {
    position: relative;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 0;
    flex: auto;
    margin: 0;
    display: block;
    min-height: 100px;
    min-width: 100px;
    background-size: contain;
    background-repeat: none;
    background-position: center; }

.js figure:nth-child(5n) {
  background: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=js1&w=100&h=100");
  border: 1px solid green; }

.js figure:nth-child(5n+1) {
  border: 1px solid blue;
  background: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=js2&w=100&h=100"); }

.js figure:nth-child(5n+2) {
  border: 1px solid red;
  background: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=js3&w=100&h=100"); }

.js figure:nth-child(5n+3) {
  border: 1px solid yellow;
  background: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=js4&w=100&h=100"); }

.js figure:nth-child(5n+4) {
  border: 1px solid cornflowerblue;
  background: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=js5&w=100&h=100"); }

.css figure:nth-child(5n) {
  background: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=css1&w=100&h=100");
  border: 1px solid green; }

.css figure:nth-child(5n+1) {
  border: 1px solid blue;
  background: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=css2&w=100&h=100"); }

.css figure:nth-child(5n+2) {
  border: 1px solid red;
  background: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=css3&w=100&h=100"); }

.css figure:nth-child(5n+3) {
  border: 1px solid yellow;
  background: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=css4&w=100&h=100"); }

.css figure:nth-child(5n+4) {
  border: 1px solid cornflowerblue;
  background: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=css5&w=100&h=100"); }

.css figure {
  opacity: 1;
  top: 0;
  transition-timing-function: ease;
  transition-property: top, opacity;
  transition-duration: 2s; }
  .css figure:hover {
    opacity: .5;
    top: 10px;
    transition-timing-function: linear;
    transition-property: top, opacity;
    transition-duration: .1s; }
